:root {
  --cassette-colour-A: rgb(99, 99, 99);
  --cassette-colour-B: rgb(221, 219, 219);
}

.cassette-container {
  width: 300px;
  min-height: 63.311px;
  aspect-ratio: 100000 / 63311;
  display: grid;
  grid-template-columns: 1% 0.5% 2.999% 0.5% 1% 11.084% 2.413% 0.75% 3.761% 0.238% 4.261% 5.737% 0.012% 3.999% 0.25% 9.498% 0.5% 2.999% 0.5% 9.498% 0.25% 3.999% 0.012% 5.737% 4.261% 0.238% 3.761% 0.75% 2.413% 11.084% 1% 0.5% 2.999% 0.5% 1%;
  grid-template-rows: 1.58% 0.79% 4.739% 0.79% 0.79% 22.503% 5.405% 0.913% 15.795% 0.667% 5.651% 11.456% 4.739% 4.912% 0.79% 4.739% 0.79% 1.895% 1.867% 0.976% 0.79% 2.685% 2.053% 0.603% 0.186% 1.58%;
}

/* grid area row start column start row end column end */
.cassette-case {
  background-color: var(--cassette-colour-A);
  grid-area: 1/ 1/ 27/ 36;
  border-radius: 4%;
}

.cassette-label {
  background-color: var(--cassette-colour-B);
  grid-area: 6 / 6 / 13 / 31;
  border-radius: 4%;
  display: grid;
  container-type: inline-size;
  grid-template-columns: 16.1818% 67.636% 16.1818%;
  grid-template-rows: 36.068% 45.569% 18.362%;
}

.cassette-hole-tl {
  background-color: var(--cassette-colour-B);
  grid-area: 2 / 2 / 5 / 5;
  border-radius: 100%;
}

.cassette-hole-tr {
  background-color: var(--cassette-colour-B);
  grid-area: 2 / 32 / 5 / 35;
  border-radius: 100%;
}

.cassette-hole-bl {
  background-color: var(--cassette-colour-B);
  grid-area: 21 / 2 / 25 / 5;
  border-radius: 100%;
}

.cassette-hole-br {
  background-color: var(--cassette-colour-B);
  grid-area: 21 / 32 / 25 / 35;
  border-radius: 100%;
}

.cassette-small-hole-tl {
  background-color: var(--cassette-colour-A);
  grid-area: 3 / 3 / 4 / 4;
  border-radius: 100%;
}

.cassette-small-hole-tr {
  background-color: var(--cassette-colour-A);
  grid-area: 3 / 33 / 4 / 34;
  border-radius: 100%;
}

.cassette-small-hole-bl {
  background-color: var(--cassette-colour-A);
  grid-area: 22 / 3 / 24 / 4;
  border-radius: 100%;
}

.cassette-small-hole-br {
  background-color: var(--cassette-colour-A);
  grid-area: 22 / 33 / 24 / 34;
  border-radius: 100%;
}

.cassette-mechanisim-container {
  background-color: var(--cassette-colour-A);
  grid-area: 7 / 9 / 12 / 28;
  border-radius: 4%;
}

.cassette-mechanisim-cogslot-l {
  background-color: white;
  grid-area: 9 / 11 / 10 / 13;
  border-radius: 100%;
}

.cassette-mechanisim-cogslot-r {
  background-color: white;
  grid-area: 9 / 24 / 10 / 26;
  border-radius: 100%;
}

.cassette-mechanisim-reel {
  background-color: white;
  grid-area: 9 / 15 / 10 / 22;
  border-radius: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  overflow: hidden;
}

.cassette-bottom-box {
  background-color: var(--cassette-colour-B);
  grid-area: 14 / 7 / 27 / 30;
}

.cassette-bottom-box-l {
  position: relative;
  left: 50%;
  /* bottom: 1.9%; */
  height: 100%;
  overflow: hidden;
  background-color: var(--cassette-colour-A);
  grid-area: 14 / 29 / 27 / 30;
  transform: rotate(-8.957deg);
}

.cassette-bottom-box-r {
  position: relative;
  right: 50%;
  /* bottom: 1.9%; */
  height: 100%;
  overflow: hidden;
  background-color: var(--cassette-colour-A);
  grid-area: 14 / 7 / 27 / 8;
  transform: rotate(8.957deg);
}

.cassette-bottom-hole-l {
  background-color: white;
  grid-area: 20 / 10 / 25 / 12;
  border-radius: 100%;
}

.cassette-bottom-hole-r {
  background-color: white;
  grid-area: 20 / 25 / 25 / 27;
  border-radius: 100%;
}

.cassette-bottom-hole-c {
  background-color: var(--cassette-colour-A);
  grid-area: 15 / 17 / 18 / 20;
  border-radius: 100%;
}

.cassette-bottom-hole-c-small {
  background-color: var(--cassette-colour-B);
  grid-area: 16 / 18 / 17 / 19;
  border-radius: 100%;
}

.cassette-bottom-nubb-l {
  background-color: white;
  grid-area: 19 / 13 / 23 / 15;
  border-radius: 33%;
}

.cassette-bottom-nubb-r {
  background-color: white;
  grid-area: 19 / 22 / 23 / 24;
  border-radius: 33%;
}

.cassette-image {
  grid-area: 1/1/4/4;
  border-radius: 2%;
  aspect-ratio: 176 / 79;
  overflow: none;
}

.cassette-name {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: center;
  max-width: 100%;
  font-size: 10cqw;
  overflow: hidden;
  text-overflow: clip;
}

.reel-in {
  background-color: red;
  grid-area: 1/ 1/ 1/ 1;
  position: relative;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  align-self: center;
  justify-self: center;
  width: 180%;
  left: -125%;
  animation: reel-shrink 10s linear;
}

.reel-out {
  background-color: red;
  grid-area: 1/ 2/ 1/ 2;
  position: relative;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  align-self: center;
  justify-self: center;
  width: 450%;
  right: -125%;
  animation: reel-grow 10s linear;
}

@keyframes reel-grow {
  0% {
    width: 180%;
  }
  100% {
    width: 450%;
  }
}

@keyframes reel-shrink {
  0% {
    width: 450%;
  }
  100% {
    width: 180%;
  }
}
