/* Window Styling */
.window {
  display: grid;
  grid-template-rows: 30px auto;
  min-width: 300px;
  min-height: 400px;
  width: auto;
  height: auto;
  align-self: center;
  border: solid black 3px;
  border-radius: 5px;
  resize: both;
  overflow: hidden;
}

.window-info {
  display: flex;
  border-bottom-width: 3px;
  border-color: black;
  background-color: var(--theme-colour-A-trans);
  border-top-left-radius: 1px;
  border-top-right-radius: 3px;
  backdrop-filter: blur(0.5rem);
}

.window-name {
  align-content: center;
  justify-content: left;
  flex-grow: 1;
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.window-buttons {
  align-content: center;
  justify-content: right;
  padding-right: 9px;
  padding-left: 9px;
  border-left-width: 3px;
  border-color: black;
  background-color: var(--theme-colour-B-trans);
  font-size: large;
}

.window-icon {
  width: 18px;
  border-radius: 3px;
}

#last-button {
  border-top-right-radius: 1px;
  background-color: rgba(255, 0, 0, 0.7);
}

/* content CSS */
.content {
  color: black;
  background: white;
  height: auto;
  overflow: auto;
}

/* window positioning */
#tictactoe {
  position: absolute;
  top: 20%;
  left: 40%;
}

#mixtape {
  position: absolute;
  top: 20%;
  left: 40%;
}
