@import 'tailwindcss';

:root {
  --font-A: Arial, Helvetica, sans-serif;
  --tictactoe-window-dims: 400px;
  --theme-colour-A: rgb(102, 205, 170);
  --theme-colour-B: rgb(127, 255, 212);
  --theme-colour-A-trans: rgba(102, 205, 170, 0.7);
  --theme-colour-B-trans: rgba(127, 255, 212, 0.7);
}

html {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
}

body {
  background-image: url('/Wallpaper.png');
  font-family: var(--font-A);
}

/* fonts */

.abril-fatface-regular {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

/* Main page, used to sort icons in a grid format */
.homepage {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(25, 65px);
  grid-template-rows: repeat(9, 65px);
  grid-auto-flow: column;
  align-content: center;
  justify-items: center;
  gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.icon-label {
  justify-self: center;
  font-size: 10px;
}

.focus {
  filter: drop-shadow(2px 2px 0.25px palegoldenrod)
    drop-shadow(-2px 2px 0.25px palegoldenrod)
    drop-shadow(-2px -2px 0.25px palegoldenrod)
    drop-shadow(2px -2px 0.25px palegoldenrod);
  opacity: 1;
  backdrop-filter: blur(0.5rem);
}

/* Footer or Taskbar */
footer {
  background-color: var(--theme-colour-A-trans);
  height: 35px;
  position: absolute;
  width: 100vw;
  bottom: 0px;
  align-content: center;
  padding-left: 3px;
  z-index: 100;
  /* backdrop-filter: blur(0.5rem); */
}

#start {
  background-color: var(--theme-colour-B-trans);
  padding: 2px;
  padding-left: 10px;
  padding-right: 100px;
  border-radius: 5px;
  backdrop-filter: blur(0.5rem);
}

.taskbar {
  display: flex;
  gap: 7px;
  z-index: 100;
  backdrop-filter: blur(0.5rem);
}

.icons {
  max-width: 30px;
  padding: 2px;
  background-color: var(--theme-colour-B);
  border-radius: 5px;
  z-index: 102;
}

#minimise-app {
  display: none;
}

#minimise {
  background-color: var(--theme-colour-A-trans);
}

/* Start menu */

.start-menu {
  position: absolute;
  bottom: 35px;
  left: 0px;
  width: 350px;
  height: 600px;
  background-color: var(--theme-colour-B-trans);
  display: grid;
  grid-template-rows: repeat(auto-fill, 50px);
  row-gap: 4px;
  padding: 15px;
  border-top-right-radius: 5px;
  z-index: 100;
}

.start-app {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 100%;
  background-color: var(--theme-colour-A);
  border-radius: 5px;
  z-index: 101;
}

.start-app-image {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  align-self: center;
  z-index: 101;
}

.closed {
  display: none;
}

.date-time {
  display: grid;
  justify-items: center;
  font-size: 10px;
  position: absolute;
  right: 15px;
  bottom: 1px;
  color: white;
}

/* Window Styling */
.window {
  display: grid;
  grid-template-rows: 30px auto;
  min-width: 300px;
  min-height: 400px;

  width: auto;
  height: auto;
  align-self: center;
  border: solid black 3px;
  border-radius: 5px;
  resize: both;
  overflow: hidden;
}

.window-info {
  display: flex;
  border-bottom-width: 3px;
  border-color: black;
  background-color: var(--theme-colour-A-trans);
  border-top-left-radius: 1px;
  border-top-right-radius: 3px;
  backdrop-filter: blur(0.5rem);
}

.window-name {
  align-content: center;
  justify-content: left;
  flex-grow: 1;
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.window-buttons {
  align-content: center;
  justify-content: right;
  padding-right: 9px;
  padding-left: 9px;
  border-left-width: 3px;
  border-color: black;
  background-color: var(--theme-colour-B-trans);
  font-size: large;
}

.window-icon {
  width: 18px;
  border-radius: 3px;
}

#last-button {
  border-top-right-radius: 1px;
  background-color: rgba(255, 0, 0, 0.7);
}

/* window positioning */

#tictactoe {
  position: absolute;
  top: 50px;
  left: 50px;
}

#mixtape {
  position: absolute;
  top: 100px;
  left: 100px;
}

/* content CSS */
.content {
  color: black;
  background: white;
  height: auto;
  overflow: auto;
}

/* tic tac toe CSS */
/* mode selector */
.modes {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.modes button {
  justify-self: center;
  flex: 1;
}

.modes-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ' [..]';
  max-width: 50px;
  opacity: 50%;
}

#left-mode {
  justify-self: left;
  padding-left: 30px;
  direction: rtl;
}

#right-mode {
  justify-self: right;
  padding-right: 30px;
}

@keyframes slide-right {
  0% {
    translate: -60px;
    overflow-x: hidden;
  }

  100% {
    translate: 0px;
  }
}

/* tic tac toe game standard*/

.tictactoe-game {
  display: grid;
  grid-template-rows: auto 70px;
}

.tictactoe-layout {
  display: grid;
  grid-template-rows: 60px auto;
}

.tictactoe-contianer {
  display: grid;
  justify-self: center;
  width: clamp(50px, 80%, 726px);
  width: clamp(50px, 80%, 726px);
  aspect-ratio: 1 / 1;
  overflow: hidden hidden;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  gap: 0px;
}

.tictactoe-info-container {
  display: grid;
  grid-template-rows: 30px 30px;
}

.tictactoe {
  border-width: 2px;
  border-color: black;
}

.tictactoe-info {
  padding-top: 5px;
  justify-self: center;
  grid-column: span 3;
}

#turn {
  padding-top: 8px;
}

#reset {
  padding-bottom: 30px;
}

.tictactoe-win {
  position: absolute;
  justify-self: center;
  align-self: center;
  background-color: black;
  color: white;
  padding: 5px;
  width: 100%;
  text-align: center;
}

#X {
  color: Red;
}

#O {
  color: Blue;
}

/* tic tac toe Max 3 game  */
#last {
  opacity: 30%;
}

/* Super tic tac toe game */
.super-tictactoe-contianer {
  display: grid;
  align-content: center;
  justify-self: center;
  min-width: 100%;
  min-height: 100%;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  outline: 3px;
  gap: 0px;
}

.small-font {
  font-size: clamp(15px, 100%, 35px);
}

.game-borders {
  margin: 1px;
}

.offset-games {
  background-color: lavender;
}

#knots-win {
  background-color: lightskyblue;
}

#cross-win {
  background-color: lightcoral;
}

#active-board {
  background-color: peachpuff;
}
