@import 'tailwindcss';

:root {
  --tictactoe-box-sizing: 26%;
  --font-A: Arial, Helvetica, sans-serif;
  --tictactoe-window-dims: 400px;
}

body {
  background-image: url('/Wallpaper.png');
  font-family: var(--font-A);
}

/* Main page, used to sort icons in a grid format */
.homepage {
  display: grid;
  padding: 20px;
  grid-row: 50px;
  gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

/* Window grid */
.window {
  display: grid;
  grid-template-rows: 30px 370px;
  width: 400px;
  align-self: center;
  background: white;
  border: solid black 3px;
}

/* Window information bar */

.window-tab {
  display: flex;
  border-bottom-width: 3px;
  border-color: black;
  background-color: mediumaquamarine;
}

.window-name {
  align-content: center;
  justify-content: left;
  flex-grow: 1;
}

.window-buttons {
  align-content: center;
  justify-content: right;
  padding-right: 9px;
  padding-left: 9px;
  border-left-width: 3px;
  border-color: black;
  background-color: aqua;
}

.modes {
  align-self: center;
  justify-self: center;
}

.tictactoe-contianer {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: var(--tictactoe-box-sizing) var(--tictactoe-box-sizing) var(
      --tictactoe-box-sizing
    );
  grid-template-columns: var(--tictactoe-box-sizing) var(--tictactoe-box-sizing) var(
      --tictactoe-box-sizing
    );
}

.tictactoe-size {
  width: var(--tictactoe-window-dims);
  height: var(--tictactoe-window-dims);
}

.tictactoe {
  border-width: 3px;
  border-color: yellow;
}

.tictactoe-info {
  padding-top: 5px;
  justify-self: center;
  grid-column: span 3;
}

.tictactoe-win {
  position: absolute;
  align-self: center;
  justify-self: center;
  background-color: black;
  color: white;
  padding: 5px;
}

#Blank {
  position: absolute;
  top: 50px;
  left: 50px;
}
