@import 'tailwindcss';

:root {
  --font-A: Arial, Helvetica, sans-serif;
  --tictactoe-window-dims: 400px;
}

body {
  background-image: url('/Wallpaper.png');
  font-family: var(--font-A);
}

/* Main page, used to sort icons in a grid format */
.homepage {
  display: grid;
  padding: 20px;
  grid-row: 50px;
  gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

/* Window grid */
.window {
  display: grid;
  grid-template-rows: 30px 370px;
  min-width: 300px;
  width: auto;
  height: auto;
  align-self: center;
  background: white;
  border: solid black 3px;
  border-radius: 20px;
}

/* Window information bar */
.window-info {
  display: flex;
  border-bottom-width: 3px;
  border-color: black;
  background-color: mediumaquamarine;
  border-top-left-radius: 17px;
  border-top-right-radius: 20px;
}

.window-name {
  align-content: center;
  justify-content: left;
  flex-grow: 1;
  padding-left: 10px;
}

.window-buttons {
  align-content: center;
  justify-content: right;
  padding-right: 9px;
  padding-left: 9px;
  border-left-width: 3px;
  border-color: black;
  background-color: aquamarine;
}

#last-button {
  border-top-right-radius: 17px;
  background-color: red;
}

/* content CSS */
.content {
  color: black;
}

/* tic tac toe CSS */
/* mode selector */
.modes {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.modes button {
  justify-self: center;
  flex: 1;
}

/* tic tac toe game container */
.tictactoe-contianer {
  display: grid;
  align-content: center;
  justify-self: center;
  min-width: 250px;
  min-height: 300px;
  grid-template-rows: 28% 28% 28%;
  grid-template-columns: 33% 33% 33%;
  gap: 0px;
}

.tictactoe {
  border-width: 2px;
  border-color: black;
}

.tictactoe-info {
  padding-top: 5px;
  justify-self: center;
  grid-column: span 3;
}

#turn {
  padding-top: 8px;
}

#reset {
  padding-bottom: 30px;
}

.tictactoe-win {
  position: absolute;
  left: 38%;
  top: 47%;
  justify-items: center;
  background-color: black;
  color: white;
  padding: 5px;
}

/* window positioning */

#Tic-Tac-Toe {
  position: absolute;
  top: 50px;
  left: 50px;
}
